doctype html

html
    head
        title Digital Health Evidence

        meta(charset="utf-8")
        meta(name="author" content="James BonTempo")
        meta(name="description" content="A platform for searching the Digital Health evidence base")

        meta(property="og:title" content="Digital Health Evidence")
        meta(property="og:description" content="A platform for searching the Digital Health evidence base")
        meta(property="og:image" content="http://digitalhealthevidence.net/static/logo_square.png")

        meta(name="twitter:card" content="summary")
        meta(name="twitter:title" content="Digital Health Evidence")
        meta(name="twitter:description" content="A platform for searching the Digital Health evidence base")
        meta(name="twitter:image" content="http://digitalhealthevidence.net/static/logo_square.png")

        link(rel="shortcut icon" href="favicon.ico")
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-167414889-1")
        script.
            window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-167414889-1');
    body
        div(style="width:100%;margin-top:100px")
            div(style="height:74px;text-align:center")
                a(href="/search/" style="text-decoration:none")
                    img(src="/static/logo_horizontal.png")
        div(style="width:100%")
            div(style="text-align:center")
                span(style="font-size:15px;font-family:sans-serif;color:grey") Search from over #{count} relevant records indexed in PubMed
        div(style="width:100%;margin-top:40px")
            div(style="text-align:center")
                form(action="/search/")
                    input(name="query" value=query style="height:20px;width:500px;font-size:13px;padding-left:3px")
                    button(type="submit" style="height:25px;font-size:15px;margin-left:5px") Search
        div(style="width:100%;margin-top:40px")
            div(style="text-align:center")
                span(style="font-size:15px;font-family:sans-serif") Quick searches:
                each link in quickLinks
                    span(style="font-size:15px;font-family:sans-serif;padding-left:7px")
                        a(href=link.link) #{link.name}
