doctype html

html
    head
        title Digital Health Evidence

        <link href="http://www.digitalhealthevidence.net/" rel="canonical">

        meta(charset="utf-8")
        meta(name="author" content="James BonTempo")
        meta(name="description" content="A platform for searching the Digital Health evidence base")
        meta(name="keywords" content="digital health, telemedicine, eHealth, mHealth, evidence")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        meta(property="og:type" content="website")
        meta(property="og:url" content="http://digitalhealthevidence.net")
        meta(property="og:title" content="Digital Health Evidence")
        meta(property="og:description" content="A platform for searching the Digital Health evidence base")
        meta(property="og:image" content="http://digitalhealthevidence.net/logo_square.png")
        meta(property="og:image:width" content="400px")
        meta(property="og:image:height" content="400px")

        meta(name="twitter:card" content="summary")
        meta(name="twitter:title" content="Digital Health Evidence")
        meta(name="twitter:description" content="A platform for searching the Digital Health evidence base")
        meta(name="twitter:image" content="http://digitalhealthevidence.net/logo_square.png")

        style.
            img {max-width: 100%}
            .query{width:500px}
            .button {margin-left:5px}
            @media screen and (max-width:600px) {
                .query {width:350px}
            }
            @media screen and (max-width:450px) {
                .query {width:98%;display:block;margin-bottom:5px}
                .button {margin-left:0px}
            }

        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-167414889-1")
        script.
            window.dataLayer = window.dataLayer || []; if (window.location.hostname === "localhost") window['ga-disable-UA-167414889-1'] = true; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-167414889-1');
    body(style="margin:0px;padding:10px")
        div(style="width:100%;padding-top:100px;")
            div(style="text-align:center")
                a(href="/" style="text-decoration:none")
                    img(src="/logo_horizontal.png")
        div(style="width:100%")
            div(style="text-align:center")
                span(style="font-size:15px;font-family:sans-serif;color:grey") Search from over #{count} relevant records indexed in PubMed
        div(style="width:100%;margin-top:40px")
            div(style="text-align:center")
                form(action="/search/")
                    input#query(name="query" class="query" value=query style="height:19px;font-size:13px;padding-left:3px")
                    button(type="submit" class="button" onclick="if (document.getElementById('query').value != '') document.getElementById('sort').value = 'relevant'; this.form.submit();" style="height:25px;font-size:13px;margin-left:5px") Search
                    input#sort(type="hidden" name="sort" value="added")
        div(style="width:100%;margin-top:40px")
            div(style="text-align:center")
                span(style="font-size:15px;font-family:sans-serif;display:block;margin-bottom:5px") Quick searches
                each subject in quickLinks
                    div(style="margin:0px;margin-bottom:3px")
                        each link in subject.links
                            span(style="font-size:15px;font-family:sans-serif;padding-right:7px;overflow-wrap:anywhere")
                                a(href=link.link.replace(/\s+/g, "+")) #{link.name}
        div(style="width:100%;margin-top:80px")
            div(style="text-align:center")
                span(style="font-size:15px;font-family:sans-serif;margin-bottom:5px;margin-right:15px")
                    a(href="about.html") About Digital Health Evidence
                span &mdash;
                span(style="font-size:15px;font-family:sans-serif;margin-left:15px;margin-bottom:5px;margin-right:15px")
                    a(href="tips.html") Search tips
                span &mdash;
                span(style="font-size:15px;font-family:sans-serif;margin-left:15px;margin-bottom:5px")
                    a(href="feeds.html") Web feeds